# Week6 파이썬을 활용한 실전 웹 크롤링
### 1. Pandas 패키지와 DataFrame 활용
### 2. cKonlpy, matplotlib패키지
### 3. Gensim 패키지 텍스트 주제 뽑기

## 1. Pandas 패키지와 DataFrame활용
* 목적 : 크롤링 결과를 excel, csv형태로 저장하기 위해 필요
* pandas 패키지의 dataframe 모듈은 자료 정리 및 가공에 사용
* dataframe은 길이가 같은 list형 자료 여러개를 연속해서 붙여놓은 형태

In [1]:
#pandas 패키지 함수 전체 불러오기
# *를 입력한 차이는 pd.모듈명 , pandas.모듈명 등 pandas 입력하지 않아도 기능 수행
from pandas import *

In [2]:
#list형 data DataFrame 만들기
A = ['a','a','b','b']
B = [1,2,3,4]
C = ['가','나','다','라']
#column 제목을 '에이','비','씨'로 하고 각각 A,B,C의 변수값가 value값인 dataframe을 변수 dt로 저장
dt = DataFrame({'에이' : A, 
              '비' : B, 
               '씨' : C})
dt

   비  씨 에이
0  1  가  a
1  2  나  a
2  3  다  b
3  4  라  b

In [5]:
#위의 변수 중 A의 변수값을 column 명으로 하고  A,B,C를 values로 갖는 변수 dt_t
dt_t = DataFrame([A,B,C],columns = A)
dt_t

   a  a  b  b
0  a  a  b  b
1  1  2  3  4
2  가  나  다  라

In [6]:
#head = dt변수의 상위 5줄 출력. Head의 default값 5 
dt.head()
dt.tail() # dataframe의 하위 5줄 출력

   비  씨 에이
0  1  가  a
1  2  나  a
2  3  다  b
3  4  라  b

In [7]:
# 변수 dt의 index값 (0,4,1 = 0,1,2,3)
dt.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
#변수 dt의 columns name 출력
dt.columns

Index(['비', '씨', '에이'], dtype='object')

In [10]:
# iloc,loc data를 선택적으로 추출할 때 이용
# iloc index숫자로 값 slice
# .iloc[행번호, 열번호]
dt.iloc[:2,1:]

   씨 에이
0  가  a
1  나  a

In [11]:
# data를 찾을 때, " '비' 열 중 2보다 크다" 조건을 만족하는 행 결과 출력
dt.loc[dt['비'] > 2,:]

   비  씨 에이
2  3  다  b
3  4  라  b

In [12]:
dt.drop_duplicates('에이')
#'에이'열을 기준으로 중복 data 제거한 결과 출력

   비  씨 에이
0  1  가  a
2  3  다  b

In [13]:
dt

   비  씨 에이
0  1  가  a
1  2  나  a
2  3  다  b
3  4  라  b

In [14]:
#'에이'열을 기준으로 중복 data 제거한 결과 dt_dr저장
# 사라진 index찾아주지 회복x
dt_dr = dt.drop_duplicates('에이')
dt_dr

   비  씨 에이
0  1  가  a
2  3  다  b

In [15]:
# index 재설정
dt_dr.index=range(0,len(dt_dr))
dt_dr

   비  씨 에이
0  1  가  a
1  3  다  b

In [16]:
# '에이'열을 기준으로 같은 value들을 묶어서 다른  내용 정렬.
# 현재 내용에서 구분해서 보기 어려움
dt.groupby('에이')
dt

   비  씨 에이
0  1  가  a
1  2  나  a
2  3  다  b
3  4  라  b

In [16]:
# '에이'열을 기준으로 같은 내용들을 묶고 '에이'열의 value가 같은 values의 갯수 출력
gb_count = dt.groupby('에이').count()
gb_count

    비  씨
에이
a   2  2
b   2  2

In [17]:
# '에이'열을 기준으로 같은 value를 묶고 숫자를 value로 갖는 columns 평균 계산
gb_mean = dt.groupby('에이').mean()
gb_mean

      비
에이
a   1.5
b   3.5

In [4]:
# 두 columns를 key로 사용하여 value값이 index가 되어 data를 정렬하는 방법
# .pivot(행 index, 열 index, data)
pv = dt.pivot('비','씨','에이')
pv

씨     가     나     다     라
비
1     a  None  None  None
2  None     a  None  None
3  None  None     b  None
4  None  None  None     b

In [6]:
print(pv.fillna(0))
print(pv.nafill(0))
# none값 0으로 대체

씨  가  나  다  라
비
1  a  0  0  0
2  0  a  0  0
3  0  0  b  0
4  0  0  0  b

AttributeError: 'DataFrame' object has no attribute 'nafill'

In [20]:
#변수 dt 데이터프레임 합치기
# axis = 0, 열방향 결합
# axis 기준은 통일되지 않아서 0 or 1을 입력하여 확인 후 사용
# index값 그대로 추가
concat([dt,dt],axis = 0)

   비  씨 에이
0  1  가  a
1  2  나  a
2  3  다  b
3  4  라  b
0  1  가  a
1  2  나  a
2  3  다  b
3  4  라  b

In [21]:
concat([dt,dt],axis = 1)

   비  씨 에이  비  씨 에이
0  1  가  a  1  가  a
1  2  나  a  2  나  a
2  3  다  b  3  다  b
3  4  라  b  4  라  b

In [22]:
# '비'열 기준, dataframe 가로 방향으로 합치기
# merge(x, y,on='key값')
merge(dt,dt,on = '비')

   비 씨_x 에이_x 씨_y 에이_y
0  1   가    a   가    a
1  2   나    a   나    a
2  3   다    b   다    b
3  4   라    b   라    b

In [23]:
# '비'열 기준으로 data 내림차순 정렬
# ascending 없거나 True일 경우 오름차순 정렬
dt.sort_values('비', ascending=False)

   비  씨 에이
3  4  라  b
2  3  다  b
1  2  나  a
0  1  가  a

In [27]:
# dataframe 엑셀파일로 저장하기
# 변수.to_excel('/경로/파일명.xlsx', header = 'y or n', encoding='utf-8 / euc-kr / cp949'중 선택)
# excel 파일은 encoding 시, 'euc-kr' 추천
dt.to_excel('test.xlsx')

In [ ]:
# excel파일 불러오기
dt.read_excel('/파일경로/파일명.xlsx', hearder = ' ', encoding = 'euc-kr')