In [1]:
import pandas as pd

In [4]:
pd.read_excel("../data/01_Population_Seoul.xls")

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>기간</th>
      <th>자치구</th>
      <th>세대</th>
      <th>인구</th>
      <th>인구.1</th>
      <th>인구.2</th>
      <th>인구.3</th>
      <th>인구.4</th>
      <th>인구.5</th>
      <th>인구.6</th>
      <th>인구.7</th>
      <th>인구.8</th>
      <th>세대당인구</th>
      <th>65세이상고령자</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>기간</td>
      <td>자치구</td>
      <td>세대</td>
      <td>합계</td>
      <td>합계</td>
      <td>합계</td>
      <td>한국인</td>
      <td>한국인</td>
      <td>한국인</td>
      <td>등록외국인</td>
      <td>등록외국인</td>
      <td>등록외국인</td>
      <td>세대당인구</td>
      <td>65세이상고령자</td>
    </tr>
    <tr>
      <th>1</th>
      <td>기간</td>
      <td>자치구</td>
      <td>세대</td>
      <td>계</td>
      <td>남자</td>
      <td>여자</td>
      <td>계</td>
      <td>남자</td>
      <td>여자</td>
      <td>계</td>
      <td>남자</td>
      <td>여자</td>
      <td>세대당인구</td>
      <td>65세이상고령자</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2018.2/4</td>
      <td>합계</td>
      <td>4241547</td>
      <td>10089517</td>
      <td>4935944</td>
      <td>5153573</td>
      <td>9814049</td>
      <td>4802769</td>
      <td>5011280</td>
      <td>275468</td>
      <td>133175</td>
      <td>142293</td>
      <td>2.31</td>
      <td>1393671</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2018.2/4</td>
      <td>종로구</td>
      <td>73655</td>
      <td>163569</td>
      <td>79522</td>
      <td>84047</td>
      <td>153780</td>
      <td>75247</td>
      <td>78533</td>
      <td>9789</td>
      <td>4275</td>
      <td>5514</td>
      <td>2.09</td>
      <td>26512</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2018.2/4</td>
      <td>중구</td>
      <td>61091</td>
      <td>135427</td>
      <td>66673</td>
      <td>68754</td>
      <td>126032</td>
      <td>62260</td>
      <td>63772</td>
      <td>9395</td>
      <td>4413</td>
      <td>4982</td>
      <td>2.06</td>
      <td>21798</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2018.2/4</td>
      <td>용산구</td>
      <td>108516</td>
      <td>245245</td>
      <td>119963</td>
      <td>125282</td>
      <td>229677</td>
      <td>111078</td>
      <td>118599</td>
      <td>15568</td>
      <td>8885</td>
      <td>6683</td>
      <td>2.12</td>
      <td>37331</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2018.2/4</td>
      <td>성동구</td>
      <td>135666</td>
      <td>316068</td>
      <td>155268</td>
      <td>160800</td>
      <td>308066</td>
      <td>151571</td>
      <td>156495</td>
      <td>8002</td>
      <td>3697</td>
      <td>4305</td>
      <td>2.27</td>
      <td>42171</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2018.2/4</td>
      <td>광진구</td>
      <td>161294</td>
      <td>370519</td>
      <td>179621</td>
      <td>190898</td>
      <td>355748</td>
      <td>173216</td>
      <td>182532</td>
      <td>14771</td>
      <td>6405</td>
      <td>8366</td>
      <td>2.21</td>
      <td>44806</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2018.2/4</td>
      <td>동대문구</td>
      <td>160757</td>
      <td>364527</td>
      <td>180126</td>
      <td>184401</td>
      <td>348903</td>
      <td>174128</td>
      <td>174775</td>
      <td>15624</td>
      <td>5998</td>
      <td>9626</td>
      <td>2.17</td>
      <td>56675</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2018.2/4</td>
      <td>중랑구</td>
      <td>179690</td>
      <td>410296</td>
      <td>203711</td>
      <td>206585</td>
      <td>405551</td>
      <td>201803</td>
      <td>203748</td>
      <td>4745</td>
      <td>1908</td>
      <td>2837</td>
      <td>2.26</td>
      <td>60618</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2018.2/4</td>
      <td>성북구</td>
      <td>186696</td>
      <td>451829</td>
      <td>218998</td>
      <td>232831</td>
      <td>440272</td>
      <td>214430</td>
      <td>225842</td>
      <td>11557</td>
      <td>4568</td>
      <td>6989</td>
      <td>2.36</td>
      <td>67132</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2018.2/4</td>
      <td>강북구</td>
      <td>143187</td>
      <td>326063</td>
      <td>159219</td>
      <td>166844</td>
      <td>322385</td>
      <td>157769</td>
      <td>164616</td>
      <td>3678</td>
      <td>1450</td>
      <td>2228</td>
      <td>2.25</td>
      <td>57401</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2018.2/4</td>
      <td>도봉구</td>
      <td>137560</td>
      <td>344096</td>
      <td>168282</td>
      <td>175814</td>
      <td>341928</td>
      <td>167465</td>
      <td>174463</td>
      <td>2168</td>
      <td>817</td>
      <td>1351</td>
      <td>2.49</td>
      <td>54969</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2018.2/4</td>
      <td>노원구</td>
      <td>217662</td>
      <td>553177</td>
      <td>268396</td>
      <td>284781</td>
      <td>549365</td>
      <td>266826</td>
      <td>282539</td>
      <td>3812</td>
      <td>1570</td>
      <td>2242</td>
      <td>2.52</td>
      <td>75741</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2018.2/4</td>
      <td>은평구</td>
      <td>203547</td>
      <td>489045</td>
      <td>236802</td>
      <td>252243</td>
      <td>484642</td>
      <td>234905</td>
      <td>249737</td>
      <td>4403</td>
      <td>1897</td>
      <td>2506</td>
      <td>2.38</td>
      <td>76097</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2018.2/4</td>
      <td>서대문구</td>
      <td>137725</td>
      <td>323261</td>
      <td>154145</td>
      <td>169116</td>
      <td>311280</td>
      <td>150131</td>
      <td>161149</td>
      <td>11981</td>
      <td>4014</td>
      <td>7967</td>
      <td>2.26</td>
      <td>49935</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2018.2/4</td>
      <td>마포구</td>
      <td>170788</td>
      <td>385507</td>
      <td>182627</td>
      <td>202880</td>
      <td>374691</td>
      <td>178430</td>
      <td>196261</td>
      <td>10816</td>
      <td>4197</td>
      <td>6619</td>
      <td>2.19</td>
      <td>50350</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2018.2/4</td>
      <td>양천구</td>
      <td>176234</td>
      <td>471026</td>
      <td>232087</td>
      <td>238939</td>
      <td>467151</td>
      <td>230322</td>
      <td>236829</td>
      <td>3875</td>
      <td>1765</td>
      <td>2110</td>
      <td>2.65</td>
      <td>56742</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2018.2/4</td>
      <td>강서구</td>
      <td>256560</td>
      <td>606981</td>
      <td>295221</td>
      <td>311760</td>
      <td>600257</td>
      <td>291966</td>
      <td>308291</td>
      <td>6724</td>
      <td>3255</td>
      <td>3469</td>
      <td>2.34</td>
      <td>78042</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2018.2/4</td>
      <td>구로구</td>
      <td>171882</td>
      <td>440305</td>
      <td>220880</td>
      <td>219425</td>
      <td>407235</td>
      <td>202016</td>
      <td>205219</td>
      <td>33070</td>
      <td>18864</td>
      <td>14206</td>
      <td>2.37</td>
      <td>60564</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2018.2/4</td>
      <td>금천구</td>
      <td>106307</td>
      <td>252752</td>
      <td>129612</td>
      <td>123140</td>
      <td>233263</td>
      <td>118530</td>
      <td>114733</td>
      <td>19489</td>
      <td>11082</td>
      <td>8407</td>
      <td>2.19</td>
      <td>34945</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2018.2/4</td>
      <td>영등포구</td>
      <td>169264</td>
      <td>404501</td>
      <td>203696</td>
      <td>200805</td>
      <td>369003</td>
      <td>183888</td>
      <td>185115</td>
      <td>35498</td>
      <td>19808</td>
      <td>15690</td>
      <td>2.18</td>
      <td>54994</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2018.2/4</td>
      <td>동작구</td>
      <td>174427</td>
      <td>407275</td>
      <td>197984</td>
      <td>209291</td>
      <td>394788</td>
      <td>192296</td>
      <td>202492</td>
      <td>12487</td>
      <td>5688</td>
      <td>6799</td>
      <td>2.26</td>
      <td>58133</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2018.2/4</td>
      <td>관악구</td>
      <td>259681</td>
      <td>521960</td>
      <td>262235</td>
      <td>259725</td>
      <td>504048</td>
      <td>253600</td>
      <td>250448</td>
      <td>17912</td>
      <td>8635</td>
      <td>9277</td>
      <td>1.94</td>
      <td>71317</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2018.2/4</td>
      <td>서초구</td>
      <td>174268</td>
      <td>443989</td>
      <td>212679</td>
      <td>231310</td>
      <td>439844</td>
      <td>210596</td>
      <td>229248</td>
      <td>4145</td>
      <td>2083</td>
      <td>2062</td>
      <td>2.52</td>
      <td>54614</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2018.2/4</td>
      <td>강남구</td>
      <td>229160</td>
      <td>551888</td>
      <td>264332</td>
      <td>287556</td>
      <td>546952</td>
      <td>261815</td>
      <td>285137</td>
      <td>4936</td>
      <td>2517</td>
      <td>2419</td>
      <td>2.39</td>
      <td>66011</td>
    </tr>
    <tr>
      <th>26</th>
      <td>2018.2/4</td>
      <td>송파구</td>
      <td>268325</td>
      <td>673161</td>
      <td>327051</td>
      <td>346110</td>
      <td>666439</td>
      <td>323741</td>
      <td>342698</td>
      <td>6722</td>
      <td>3310</td>
      <td>3412</td>
      <td>2.48</td>
      <td>79093</td>
    </tr>
    <tr>
      <th>27</th>
      <td>2018.2/4</td>
      <td>강동구</td>
      <td>177605</td>
      <td>437050</td>
      <td>216814</td>
      <td>220236</td>
      <td>432749</td>
      <td>214740</td>
      <td>218009</td>
      <td>4301</td>
      <td>2074</td>
      <td>2227</td>
      <td>2.44</td>
      <td>57680</td>
    </tr>
  </tbody>
</table>
</div>

In [7]:
pd.read_excel("../data/01_Population_Seoul.xls", header=2)  
# 3번째 행이 데이터의 header 라는 의미

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>기간</th>
      <th>자치구</th>
      <th>세대</th>
      <th>계</th>
      <th>남자</th>
      <th>여자</th>
      <th>계.1</th>
      <th>남자.1</th>
      <th>여자.1</th>
      <th>계.2</th>
      <th>남자.2</th>
      <th>여자.2</th>
      <th>세대당인구</th>
      <th>65세이상고령자</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>2018.2/4</td>
      <td>합계</td>
      <td>4241547</td>
      <td>10089517</td>
      <td>4935944</td>
      <td>5153573</td>
      <td>9814049</td>
      <td>4802769</td>
      <td>5011280</td>
      <td>275468</td>
      <td>133175</td>
      <td>142293</td>
      <td>2.31</td>
      <td>1393671</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2018.2/4</td>
      <td>종로구</td>
      <td>73655</td>
      <td>163569</td>
      <td>79522</td>
      <td>84047</td>
      <td>153780</td>
      <td>75247</td>
      <td>78533</td>
      <td>9789</td>
      <td>4275</td>
      <td>5514</td>
      <td>2.09</td>
      <td>26512</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2018.2/4</td>
      <td>중구</td>
      <td>61091</td>
      <td>135427</td>
      <td>66673</td>
      <td>68754</td>
      <td>126032</td>
      <td>62260</td>
      <td>63772</td>
      <td>9395</td>
      <td>4413</td>
      <td>4982</td>
      <td>2.06</td>
      <td>21798</td>
    </tr>
    <tr>
      <th>3</th>
      <td>2018.2/4</td>
      <td>용산구</td>
      <td>108516</td>
      <td>245245</td>
      <td>119963</td>
      <td>125282</td>
      <td>229677</td>
      <td>111078</td>
      <td>118599</td>
      <td>15568</td>
      <td>8885</td>
      <td>6683</td>
      <td>2.12</td>
      <td>37331</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2018.2/4</td>
      <td>성동구</td>
      <td>135666</td>
      <td>316068</td>
      <td>155268</td>
      <td>160800</td>
      <td>308066</td>
      <td>151571</td>
      <td>156495</td>
      <td>8002</td>
      <td>3697</td>
      <td>4305</td>
      <td>2.27</td>
      <td>42171</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2018.2/4</td>
      <td>광진구</td>
      <td>161294</td>
      <td>370519</td>
      <td>179621</td>
      <td>190898</td>
      <td>355748</td>
      <td>173216</td>
      <td>182532</td>
      <td>14771</td>
      <td>6405</td>
      <td>8366</td>
      <td>2.21</td>
      <td>44806</td>
    </tr>
    <tr>
      <th>6</th>
      <td>2018.2/4</td>
      <td>동대문구</td>
      <td>160757</td>
      <td>364527</td>
      <td>180126</td>
      <td>184401</td>
      <td>348903</td>
      <td>174128</td>
      <td>174775</td>
      <td>15624</td>
      <td>5998</td>
      <td>9626</td>
      <td>2.17</td>
      <td>56675</td>
    </tr>
    <tr>
      <th>7</th>
      <td>2018.2/4</td>
      <td>중랑구</td>
      <td>179690</td>
      <td>410296</td>
      <td>203711</td>
      <td>206585</td>
      <td>405551</td>
      <td>201803</td>
      <td>203748</td>
      <td>4745</td>
      <td>1908</td>
      <td>2837</td>
      <td>2.26</td>
      <td>60618</td>
    </tr>
    <tr>
      <th>8</th>
      <td>2018.2/4</td>
      <td>성북구</td>
      <td>186696</td>
      <td>451829</td>
      <td>218998</td>
      <td>232831</td>
      <td>440272</td>
      <td>214430</td>
      <td>225842</td>
      <td>11557</td>
      <td>4568</td>
      <td>6989</td>
      <td>2.36</td>
      <td>67132</td>
    </tr>
    <tr>
      <th>9</th>
      <td>2018.2/4</td>
      <td>강북구</td>
      <td>143187</td>
      <td>326063</td>
      <td>159219</td>
      <td>166844</td>
      <td>322385</td>
      <td>157769</td>
      <td>164616</td>
      <td>3678</td>
      <td>1450</td>
      <td>2228</td>
      <td>2.25</td>
      <td>57401</td>
    </tr>
    <tr>
      <th>10</th>
      <td>2018.2/4</td>
      <td>도봉구</td>
      <td>137560</td>
      <td>344096</td>
      <td>168282</td>
      <td>175814</td>
      <td>341928</td>
      <td>167465</td>
      <td>174463</td>
      <td>2168</td>
      <td>817</td>
      <td>1351</td>
      <td>2.49</td>
      <td>54969</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2018.2/4</td>
      <td>노원구</td>
      <td>217662</td>
      <td>553177</td>
      <td>268396</td>
      <td>284781</td>
      <td>549365</td>
      <td>266826</td>
      <td>282539</td>
      <td>3812</td>
      <td>1570</td>
      <td>2242</td>
      <td>2.52</td>
      <td>75741</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2018.2/4</td>
      <td>은평구</td>
      <td>203547</td>
      <td>489045</td>
      <td>236802</td>
      <td>252243</td>
      <td>484642</td>
      <td>234905</td>
      <td>249737</td>
      <td>4403</td>
      <td>1897</td>
      <td>2506</td>
      <td>2.38</td>
      <td>76097</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2018.2/4</td>
      <td>서대문구</td>
      <td>137725</td>
      <td>323261</td>
      <td>154145</td>
      <td>169116</td>
      <td>311280</td>
      <td>150131</td>
      <td>161149</td>
      <td>11981</td>
      <td>4014</td>
      <td>7967</td>
      <td>2.26</td>
      <td>49935</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2018.2/4</td>
      <td>마포구</td>
      <td>170788</td>
      <td>385507</td>
      <td>182627</td>
      <td>202880</td>
      <td>374691</td>
      <td>178430</td>
      <td>196261</td>
      <td>10816</td>
      <td>4197</td>
      <td>6619</td>
      <td>2.19</td>
      <td>50350</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2018.2/4</td>
      <td>양천구</td>
      <td>176234</td>
      <td>471026</td>
      <td>232087</td>
      <td>238939</td>
      <td>467151</td>
      <td>230322</td>
      <td>236829</td>
      <td>3875</td>
      <td>1765</td>
      <td>2110</td>
      <td>2.65</td>
      <td>56742</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2018.2/4</td>
      <td>강서구</td>
      <td>256560</td>
      <td>606981</td>
      <td>295221</td>
      <td>311760</td>
      <td>600257</td>
      <td>291966</td>
      <td>308291</td>
      <td>6724</td>
      <td>3255</td>
      <td>3469</td>
      <td>2.34</td>
      <td>78042</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2018.2/4</td>
      <td>구로구</td>
      <td>171882</td>
      <td>440305</td>
      <td>220880</td>
      <td>219425</td>
      <td>407235</td>
      <td>202016</td>
      <td>205219</td>
      <td>33070</td>
      <td>18864</td>
      <td>14206</td>
      <td>2.37</td>
      <td>60564</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2018.2/4</td>
      <td>금천구</td>
      <td>106307</td>
      <td>252752</td>
      <td>129612</td>
      <td>123140</td>
      <td>233263</td>
      <td>118530</td>
      <td>114733</td>
      <td>19489</td>
      <td>11082</td>
      <td>8407</td>
      <td>2.19</td>
      <td>34945</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2018.2/4</td>
      <td>영등포구</td>
      <td>169264</td>
      <td>404501</td>
      <td>203696</td>
      <td>200805</td>
      <td>369003</td>
      <td>183888</td>
      <td>185115</td>
      <td>35498</td>
      <td>19808</td>
      <td>15690</td>
      <td>2.18</td>
      <td>54994</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2018.2/4</td>
      <td>동작구</td>
      <td>174427</td>
      <td>407275</td>
      <td>197984</td>
      <td>209291</td>
      <td>394788</td>
      <td>192296</td>
      <td>202492</td>
      <td>12487</td>
      <td>5688</td>
      <td>6799</td>
      <td>2.26</td>
      <td>58133</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2018.2/4</td>
      <td>관악구</td>
      <td>259681</td>
      <td>521960</td>
      <td>262235</td>
      <td>259725</td>
      <td>504048</td>
      <td>253600</td>
      <td>250448</td>
      <td>17912</td>
      <td>8635</td>
      <td>9277</td>
      <td>1.94</td>
      <td>71317</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2018.2/4</td>
      <td>서초구</td>
      <td>174268</td>
      <td>443989</td>
      <td>212679</td>
      <td>231310</td>
      <td>439844</td>
      <td>210596</td>
      <td>229248</td>
      <td>4145</td>
      <td>2083</td>
      <td>2062</td>
      <td>2.52</td>
      <td>54614</td>
    </tr>
    <tr>
      <th>23</th>
      <td>2018.2/4</td>
      <td>강남구</td>
      <td>229160</td>
      <td>551888</td>
      <td>264332</td>
      <td>287556</td>
      <td>546952</td>
      <td>261815</td>
      <td>285137</td>
      <td>4936</td>
      <td>2517</td>
      <td>2419</td>
      <td>2.39</td>
      <td>66011</td>
    </tr>
    <tr>
      <th>24</th>
      <td>2018.2/4</td>
      <td>송파구</td>
      <td>268325</td>
      <td>673161</td>
      <td>327051</td>
      <td>346110</td>
      <td>666439</td>
      <td>323741</td>
      <td>342698</td>
      <td>6722</td>
      <td>3310</td>
      <td>3412</td>
      <td>2.48</td>
      <td>79093</td>
    </tr>
    <tr>
      <th>25</th>
      <td>2018.2/4</td>
      <td>강동구</td>
      <td>177605</td>
      <td>437050</td>
      <td>216814</td>
      <td>220236</td>
      <td>432749</td>
      <td>214740</td>
      <td>218009</td>
      <td>4301</td>
      <td>2074</td>
      <td>2227</td>
      <td>2.44</td>
      <td>57680</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
pd.read_excel("../data/01_Population_Seoul.xls", header=2, usecols="B,D:N")
# B 열, D열 부터 N열

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>자치구</th>
      <th>계</th>
      <th>남자</th>
      <th>여자</th>
      <th>계.1</th>
      <th>남자.1</th>
      <th>여자.1</th>
      <th>계.2</th>
      <th>남자.2</th>
      <th>여자.2</th>
      <th>세대당인구</th>
      <th>65세이상고령자</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>합계</td>
      <td>10089517</td>
      <td>4935944</td>
      <td>5153573</td>
      <td>9814049</td>
      <td>4802769</td>
      <td>5011280</td>
      <td>275468</td>
      <td>133175</td>
      <td>142293</td>
      <td>2.31</td>
      <td>1393671</td>
    </tr>
    <tr>
      <th>1</th>
      <td>종로구</td>
      <td>163569</td>
      <td>79522</td>
      <td>84047</td>
      <td>153780</td>
      <td>75247</td>
      <td>78533</td>
      <td>9789</td>
      <td>4275</td>
      <td>5514</td>
      <td>2.09</td>
      <td>26512</td>
    </tr>
    <tr>
      <th>2</th>
      <td>중구</td>
      <td>135427</td>
      <td>66673</td>
      <td>68754</td>
      <td>126032</td>
      <td>62260</td>
      <td>63772</td>
      <td>9395</td>
      <td>4413</td>
      <td>4982</td>
      <td>2.06</td>
      <td>21798</td>
    </tr>
    <tr>
      <th>3</th>
      <td>용산구</td>
      <td>245245</td>
      <td>119963</td>
      <td>125282</td>
      <td>229677</td>
      <td>111078</td>
      <td>118599</td>
      <td>15568</td>
      <td>8885</td>
      <td>6683</td>
      <td>2.12</td>
      <td>37331</td>
    </tr>
    <tr>
      <th>4</th>
      <td>성동구</td>
      <td>316068</td>
      <td>155268</td>
      <td>160800</td>
      <td>308066</td>
      <td>151571</td>
      <td>156495</td>
      <td>8002</td>
      <td>3697</td>
      <td>4305</td>
      <td>2.27</td>
      <td>42171</td>
    </tr>
    <tr>
      <th>5</th>
      <td>광진구</td>
      <td>370519</td>
      <td>179621</td>
      <td>190898</td>
      <td>355748</td>
      <td>173216</td>
      <td>182532</td>
      <td>14771</td>
      <td>6405</td>
      <td>8366</td>
      <td>2.21</td>
      <td>44806</td>
    </tr>
    <tr>
      <th>6</th>
      <td>동대문구</td>
      <td>364527</td>
      <td>180126</td>
      <td>184401</td>
      <td>348903</td>
      <td>174128</td>
      <td>174775</td>
      <td>15624</td>
      <td>5998</td>
      <td>9626</td>
      <td>2.17</td>
      <td>56675</td>
    </tr>
    <tr>
      <th>7</th>
      <td>중랑구</td>
      <td>410296</td>
      <td>203711</td>
      <td>206585</td>
      <td>405551</td>
      <td>201803</td>
      <td>203748</td>
      <td>4745</td>
      <td>1908</td>
      <td>2837</td>
      <td>2.26</td>
      <td>60618</td>
    </tr>
    <tr>
      <th>8</th>
      <td>성북구</td>
      <td>451829</td>
      <td>218998</td>
      <td>232831</td>
      <td>440272</td>
      <td>214430</td>
      <td>225842</td>
      <td>11557</td>
      <td>4568</td>
      <td>6989</td>
      <td>2.36</td>
      <td>67132</td>
    </tr>
    <tr>
      <th>9</th>
      <td>강북구</td>
      <td>326063</td>
      <td>159219</td>
      <td>166844</td>
      <td>322385</td>
      <td>157769</td>
      <td>164616</td>
      <td>3678</td>
      <td>1450</td>
      <td>2228</td>
      <td>2.25</td>
      <td>57401</td>
    </tr>
    <tr>
      <th>10</th>
      <td>도봉구</td>
      <td>344096</td>
      <td>168282</td>
      <td>175814</td>
      <td>341928</td>
      <td>167465</td>
      <td>174463</td>
      <td>2168</td>
      <td>817</td>
      <td>1351</td>
      <td>2.49</td>
      <td>54969</td>
    </tr>
    <tr>
      <th>11</th>
      <td>노원구</td>
      <td>553177</td>
      <td>268396</td>
      <td>284781</td>
      <td>549365</td>
      <td>266826</td>
      <td>282539</td>
      <td>3812</td>
      <td>1570</td>
      <td>2242</td>
      <td>2.52</td>
      <td>75741</td>
    </tr>
    <tr>
      <th>12</th>
      <td>은평구</td>
      <td>489045</td>
      <td>236802</td>
      <td>252243</td>
      <td>484642</td>
      <td>234905</td>
      <td>249737</td>
      <td>4403</td>
      <td>1897</td>
      <td>2506</td>
      <td>2.38</td>
      <td>76097</td>
    </tr>
    <tr>
      <th>13</th>
      <td>서대문구</td>
      <td>323261</td>
      <td>154145</td>
      <td>169116</td>
      <td>311280</td>
      <td>150131</td>
      <td>161149</td>
      <td>11981</td>
      <td>4014</td>
      <td>7967</td>
      <td>2.26</td>
      <td>49935</td>
    </tr>
    <tr>
      <th>14</th>
      <td>마포구</td>
      <td>385507</td>
      <td>182627</td>
      <td>202880</td>
      <td>374691</td>
      <td>178430</td>
      <td>196261</td>
      <td>10816</td>
      <td>4197</td>
      <td>6619</td>
      <td>2.19</td>
      <td>50350</td>
    </tr>
    <tr>
      <th>15</th>
      <td>양천구</td>
      <td>471026</td>
      <td>232087</td>
      <td>238939</td>
      <td>467151</td>
      <td>230322</td>
      <td>236829</td>
      <td>3875</td>
      <td>1765</td>
      <td>2110</td>
      <td>2.65</td>
      <td>56742</td>
    </tr>
    <tr>
      <th>16</th>
      <td>강서구</td>
      <td>606981</td>
      <td>295221</td>
      <td>311760</td>
      <td>600257</td>
      <td>291966</td>
      <td>308291</td>
      <td>6724</td>
      <td>3255</td>
      <td>3469</td>
      <td>2.34</td>
      <td>78042</td>
    </tr>
    <tr>
      <th>17</th>
      <td>구로구</td>
      <td>440305</td>
      <td>220880</td>
      <td>219425</td>
      <td>407235</td>
      <td>202016</td>
      <td>205219</td>
      <td>33070</td>
      <td>18864</td>
      <td>14206</td>
      <td>2.37</td>
      <td>60564</td>
    </tr>
    <tr>
      <th>18</th>
      <td>금천구</td>
      <td>252752</td>
      <td>129612</td>
      <td>123140</td>
      <td>233263</td>
      <td>118530</td>
      <td>114733</td>
      <td>19489</td>
      <td>11082</td>
      <td>8407</td>
      <td>2.19</td>
      <td>34945</td>
    </tr>
    <tr>
      <th>19</th>
      <td>영등포구</td>
      <td>404501</td>
      <td>203696</td>
      <td>200805</td>
      <td>369003</td>
      <td>183888</td>
      <td>185115</td>
      <td>35498</td>
      <td>19808</td>
      <td>15690</td>
      <td>2.18</td>
      <td>54994</td>
    </tr>
    <tr>
      <th>20</th>
      <td>동작구</td>
      <td>407275</td>
      <td>197984</td>
      <td>209291</td>
      <td>394788</td>
      <td>192296</td>
      <td>202492</td>
      <td>12487</td>
      <td>5688</td>
      <td>6799</td>
      <td>2.26</td>
      <td>58133</td>
    </tr>
    <tr>
      <th>21</th>
      <td>관악구</td>
      <td>521960</td>
      <td>262235</td>
      <td>259725</td>
      <td>504048</td>
      <td>253600</td>
      <td>250448</td>
      <td>17912</td>
      <td>8635</td>
      <td>9277</td>
      <td>1.94</td>
      <td>71317</td>
    </tr>
    <tr>
      <th>22</th>
      <td>서초구</td>
      <td>443989</td>
      <td>212679</td>
      <td>231310</td>
      <td>439844</td>
      <td>210596</td>
      <td>229248</td>
      <td>4145</td>
      <td>2083</td>
      <td>2062</td>
      <td>2.52</td>
      <td>54614</td>
    </tr>
    <tr>
      <th>23</th>
      <td>강남구</td>
      <td>551888</td>
      <td>264332</td>
      <td>287556</td>
      <td>546952</td>
      <td>261815</td>
      <td>285137</td>
      <td>4936</td>
      <td>2517</td>
      <td>2419</td>
      <td>2.39</td>
      <td>66011</td>
    </tr>
    <tr>
      <th>24</th>
      <td>송파구</td>
      <td>673161</td>
      <td>327051</td>
      <td>346110</td>
      <td>666439</td>
      <td>323741</td>
      <td>342698</td>
      <td>6722</td>
      <td>3310</td>
      <td>3412</td>
      <td>2.48</td>
      <td>79093</td>
    </tr>
    <tr>
      <th>25</th>
      <td>강동구</td>
      <td>437050</td>
      <td>216814</td>
      <td>220236</td>
      <td>432749</td>
      <td>214740</td>
      <td>218009</td>
      <td>4301</td>
      <td>2074</td>
      <td>2227</td>
      <td>2.44</td>
      <td>57680</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
pd.read_excel("../data/01_Population_Seoul.xls", header=2, usecols="B,D:N", skipfooter=0)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>자치구</th>
      <th>계</th>
      <th>남자</th>
      <th>여자</th>
      <th>계.1</th>
      <th>남자.1</th>
      <th>여자.1</th>
      <th>계.2</th>
      <th>남자.2</th>
      <th>여자.2</th>
      <th>세대당인구</th>
      <th>65세이상고령자</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>합계</td>
      <td>10089517</td>
      <td>4935944</td>
      <td>5153573</td>
      <td>9814049</td>
      <td>4802769</td>
      <td>5011280</td>
      <td>275468</td>
      <td>133175</td>
      <td>142293</td>
      <td>2.31</td>
      <td>1393671</td>
    </tr>
    <tr>
      <th>1</th>
      <td>종로구</td>
      <td>163569</td>
      <td>79522</td>
      <td>84047</td>
      <td>153780</td>
      <td>75247</td>
      <td>78533</td>
      <td>9789</td>
      <td>4275</td>
      <td>5514</td>
      <td>2.09</td>
      <td>26512</td>
    </tr>
    <tr>
      <th>2</th>
      <td>중구</td>
      <td>135427</td>
      <td>66673</td>
      <td>68754</td>
      <td>126032</td>
      <td>62260</td>
      <td>63772</td>
      <td>9395</td>
      <td>4413</td>
      <td>4982</td>
      <td>2.06</td>
      <td>21798</td>
    </tr>
    <tr>
      <th>3</th>
      <td>용산구</td>
      <td>245245</td>
      <td>119963</td>
      <td>125282</td>
      <td>229677</td>
      <td>111078</td>
      <td>118599</td>
      <td>15568</td>
      <td>8885</td>
      <td>6683</td>
      <td>2.12</td>
      <td>37331</td>
    </tr>
    <tr>
      <th>4</th>
      <td>성동구</td>
      <td>316068</td>
      <td>155268</td>
      <td>160800</td>
      <td>308066</td>
      <td>151571</td>
      <td>156495</td>
      <td>8002</td>
      <td>3697</td>
      <td>4305</td>
      <td>2.27</td>
      <td>42171</td>
    </tr>
    <tr>
      <th>5</th>
      <td>광진구</td>
      <td>370519</td>
      <td>179621</td>
      <td>190898</td>
      <td>355748</td>
      <td>173216</td>
      <td>182532</td>
      <td>14771</td>
      <td>6405</td>
      <td>8366</td>
      <td>2.21</td>
      <td>44806</td>
    </tr>
    <tr>
      <th>6</th>
      <td>동대문구</td>
      <td>364527</td>
      <td>180126</td>
      <td>184401</td>
      <td>348903</td>
      <td>174128</td>
      <td>174775</td>
      <td>15624</td>
      <td>5998</td>
      <td>9626</td>
      <td>2.17</td>
      <td>56675</td>
    </tr>
    <tr>
      <th>7</th>
      <td>중랑구</td>
      <td>410296</td>
      <td>203711</td>
      <td>206585</td>
      <td>405551</td>
      <td>201803</td>
      <td>203748</td>
      <td>4745</td>
      <td>1908</td>
      <td>2837</td>
      <td>2.26</td>
      <td>60618</td>
    </tr>
    <tr>
      <th>8</th>
      <td>성북구</td>
      <td>451829</td>
      <td>218998</td>
      <td>232831</td>
      <td>440272</td>
      <td>214430</td>
      <td>225842</td>
      <td>11557</td>
      <td>4568</td>
      <td>6989</td>
      <td>2.36</td>
      <td>67132</td>
    </tr>
    <tr>
      <th>9</th>
      <td>강북구</td>
      <td>326063</td>
      <td>159219</td>
      <td>166844</td>
      <td>322385</td>
      <td>157769</td>
      <td>164616</td>
      <td>3678</td>
      <td>1450</td>
      <td>2228</td>
      <td>2.25</td>
      <td>57401</td>
    </tr>
    <tr>
      <th>10</th>
      <td>도봉구</td>
      <td>344096</td>
      <td>168282</td>
      <td>175814</td>
      <td>341928</td>
      <td>167465</td>
      <td>174463</td>
      <td>2168</td>
      <td>817</td>
      <td>1351</td>
      <td>2.49</td>
      <td>54969</td>
    </tr>
    <tr>
      <th>11</th>
      <td>노원구</td>
      <td>553177</td>
      <td>268396</td>
      <td>284781</td>
      <td>549365</td>
      <td>266826</td>
      <td>282539</td>
      <td>3812</td>
      <td>1570</td>
      <td>2242</td>
      <td>2.52</td>
      <td>75741</td>
    </tr>
    <tr>
      <th>12</th>
      <td>은평구</td>
      <td>489045</td>
      <td>236802</td>
      <td>252243</td>
      <td>484642</td>
      <td>234905</td>
      <td>249737</td>
      <td>4403</td>
      <td>1897</td>
      <td>2506</td>
      <td>2.38</td>
      <td>76097</td>
    </tr>
    <tr>
      <th>13</th>
      <td>서대문구</td>
      <td>323261</td>
      <td>154145</td>
      <td>169116</td>
      <td>311280</td>
      <td>150131</td>
      <td>161149</td>
      <td>11981</td>
      <td>4014</td>
      <td>7967</td>
      <td>2.26</td>
      <td>49935</td>
    </tr>
    <tr>
      <th>14</th>
      <td>마포구</td>
      <td>385507</td>
      <td>182627</td>
      <td>202880</td>
      <td>374691</td>
      <td>178430</td>
      <td>196261</td>
      <td>10816</td>
      <td>4197</td>
      <td>6619</td>
      <td>2.19</td>
      <td>50350</td>
    </tr>
    <tr>
      <th>15</th>
      <td>양천구</td>
      <td>471026</td>
      <td>232087</td>
      <td>238939</td>
      <td>467151</td>
      <td>230322</td>
      <td>236829</td>
      <td>3875</td>
      <td>1765</td>
      <td>2110</td>
      <td>2.65</td>
      <td>56742</td>
    </tr>
    <tr>
      <th>16</th>
      <td>강서구</td>
      <td>606981</td>
      <td>295221</td>
      <td>311760</td>
      <td>600257</td>
      <td>291966</td>
      <td>308291</td>
      <td>6724</td>
      <td>3255</td>
      <td>3469</td>
      <td>2.34</td>
      <td>78042</td>
    </tr>
    <tr>
      <th>17</th>
      <td>구로구</td>
      <td>440305</td>
      <td>220880</td>
      <td>219425</td>
      <td>407235</td>
      <td>202016</td>
      <td>205219</td>
      <td>33070</td>
      <td>18864</td>
      <td>14206</td>
      <td>2.37</td>
      <td>60564</td>
    </tr>
    <tr>
      <th>18</th>
      <td>금천구</td>
      <td>252752</td>
      <td>129612</td>
      <td>123140</td>
      <td>233263</td>
      <td>118530</td>
      <td>114733</td>
      <td>19489</td>
      <td>11082</td>
      <td>8407</td>
      <td>2.19</td>
      <td>34945</td>
    </tr>
    <tr>
      <th>19</th>
      <td>영등포구</td>
      <td>404501</td>
      <td>203696</td>
      <td>200805</td>
      <td>369003</td>
      <td>183888</td>
      <td>185115</td>
      <td>35498</td>
      <td>19808</td>
      <td>15690</td>
      <td>2.18</td>
      <td>54994</td>
    </tr>
    <tr>
      <th>20</th>
      <td>동작구</td>
      <td>407275</td>
      <td>197984</td>
      <td>209291</td>
      <td>394788</td>
      <td>192296</td>
      <td>202492</td>
      <td>12487</td>
      <td>5688</td>
      <td>6799</td>
      <td>2.26</td>
      <td>58133</td>
    </tr>
    <tr>
      <th>21</th>
      <td>관악구</td>
      <td>521960</td>
      <td>262235</td>
      <td>259725</td>
      <td>504048</td>
      <td>253600</td>
      <td>250448</td>
      <td>17912</td>
      <td>8635</td>
      <td>9277</td>
      <td>1.94</td>
      <td>71317</td>
    </tr>
    <tr>
      <th>22</th>
      <td>서초구</td>
      <td>443989</td>
      <td>212679</td>
      <td>231310</td>
      <td>439844</td>
      <td>210596</td>
      <td>229248</td>
      <td>4145</td>
      <td>2083</td>
      <td>2062</td>
      <td>2.52</td>
      <td>54614</td>
    </tr>
    <tr>
      <th>23</th>
      <td>강남구</td>
      <td>551888</td>
      <td>264332</td>
      <td>287556</td>
      <td>546952</td>
      <td>261815</td>
      <td>285137</td>
      <td>4936</td>
      <td>2517</td>
      <td>2419</td>
      <td>2.39</td>
      <td>66011</td>
    </tr>
    <tr>
      <th>24</th>
      <td>송파구</td>
      <td>673161</td>
      <td>327051</td>
      <td>346110</td>
      <td>666439</td>
      <td>323741</td>
      <td>342698</td>
      <td>6722</td>
      <td>3310</td>
      <td>3412</td>
      <td>2.48</td>
      <td>79093</td>
    </tr>
    <tr>
      <th>25</th>
      <td>강동구</td>
      <td>437050</td>
      <td>216814</td>
      <td>220236</td>
      <td>432749</td>
      <td>214740</td>
      <td>218009</td>
      <td>4301</td>
      <td>2074</td>
      <td>2227</td>
      <td>2.44</td>
      <td>57680</td>
    </tr>
  </tbody>
</table>
</div>

In [12]:
col_names = ["구", "인구수", "남성", "여성", "내국인", "남성내국인", "여성내국인", "외국인", "남성외국인", "여성외국인"
    , "세대당인구", "고령자"]

In [20]:
pd.read_excel("../data/01_Population_Seoul.xls", header=2, usecols="B,D:N", skipfooter=0, names=col_names)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>구</th>
      <th>인구수</th>
      <th>남성</th>
      <th>여성</th>
      <th>내국인</th>
      <th>남성내국인</th>
      <th>여성내국인</th>
      <th>외국인</th>
      <th>남성외국인</th>
      <th>여성외국인</th>
      <th>세대당인구</th>
      <th>고령자</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>합계</td>
      <td>10089517</td>
      <td>4935944</td>
      <td>5153573</td>
      <td>9814049</td>
      <td>4802769</td>
      <td>5011280</td>
      <td>275468</td>
      <td>133175</td>
      <td>142293</td>
      <td>2.31</td>
      <td>1393671</td>
    </tr>
    <tr>
      <th>1</th>
      <td>종로구</td>
      <td>163569</td>
      <td>79522</td>
      <td>84047</td>
      <td>153780</td>
      <td>75247</td>
      <td>78533</td>
      <td>9789</td>
      <td>4275</td>
      <td>5514</td>
      <td>2.09</td>
      <td>26512</td>
    </tr>
    <tr>
      <th>2</th>
      <td>중구</td>
      <td>135427</td>
      <td>66673</td>
      <td>68754</td>
      <td>126032</td>
      <td>62260</td>
      <td>63772</td>
      <td>9395</td>
      <td>4413</td>
      <td>4982</td>
      <td>2.06</td>
      <td>21798</td>
    </tr>
    <tr>
      <th>3</th>
      <td>용산구</td>
      <td>245245</td>
      <td>119963</td>
      <td>125282</td>
      <td>229677</td>
      <td>111078</td>
      <td>118599</td>
      <td>15568</td>
      <td>8885</td>
      <td>6683</td>
      <td>2.12</td>
      <td>37331</td>
    </tr>
    <tr>
      <th>4</th>
      <td>성동구</td>
      <td>316068</td>
      <td>155268</td>
      <td>160800</td>
      <td>308066</td>
      <td>151571</td>
      <td>156495</td>
      <td>8002</td>
      <td>3697</td>
      <td>4305</td>
      <td>2.27</td>
      <td>42171</td>
    </tr>
    <tr>
      <th>5</th>
      <td>광진구</td>
      <td>370519</td>
      <td>179621</td>
      <td>190898</td>
      <td>355748</td>
      <td>173216</td>
      <td>182532</td>
      <td>14771</td>
      <td>6405</td>
      <td>8366</td>
      <td>2.21</td>
      <td>44806</td>
    </tr>
    <tr>
      <th>6</th>
      <td>동대문구</td>
      <td>364527</td>
      <td>180126</td>
      <td>184401</td>
      <td>348903</td>
      <td>174128</td>
      <td>174775</td>
      <td>15624</td>
      <td>5998</td>
      <td>9626</td>
      <td>2.17</td>
      <td>56675</td>
    </tr>
    <tr>
      <th>7</th>
      <td>중랑구</td>
      <td>410296</td>
      <td>203711</td>
      <td>206585</td>
      <td>405551</td>
      <td>201803</td>
      <td>203748</td>
      <td>4745</td>
      <td>1908</td>
      <td>2837</td>
      <td>2.26</td>
      <td>60618</td>
    </tr>
    <tr>
      <th>8</th>
      <td>성북구</td>
      <td>451829</td>
      <td>218998</td>
      <td>232831</td>
      <td>440272</td>
      <td>214430</td>
      <td>225842</td>
      <td>11557</td>
      <td>4568</td>
      <td>6989</td>
      <td>2.36</td>
      <td>67132</td>
    </tr>
    <tr>
      <th>9</th>
      <td>강북구</td>
      <td>326063</td>
      <td>159219</td>
      <td>166844</td>
      <td>322385</td>
      <td>157769</td>
      <td>164616</td>
      <td>3678</td>
      <td>1450</td>
      <td>2228</td>
      <td>2.25</td>
      <td>57401</td>
    </tr>
    <tr>
      <th>10</th>
      <td>도봉구</td>
      <td>344096</td>
      <td>168282</td>
      <td>175814</td>
      <td>341928</td>
      <td>167465</td>
      <td>174463</td>
      <td>2168</td>
      <td>817</td>
      <td>1351</td>
      <td>2.49</td>
      <td>54969</td>
    </tr>
    <tr>
      <th>11</th>
      <td>노원구</td>
      <td>553177</td>
      <td>268396</td>
      <td>284781</td>
      <td>549365</td>
      <td>266826</td>
      <td>282539</td>
      <td>3812</td>
      <td>1570</td>
      <td>2242</td>
      <td>2.52</td>
      <td>75741</td>
    </tr>
    <tr>
      <th>12</th>
      <td>은평구</td>
      <td>489045</td>
      <td>236802</td>
      <td>252243</td>
      <td>484642</td>
      <td>234905</td>
      <td>249737</td>
      <td>4403</td>
      <td>1897</td>
      <td>2506</td>
      <td>2.38</td>
      <td>76097</td>
    </tr>
    <tr>
      <th>13</th>
      <td>서대문구</td>
      <td>323261</td>
      <td>154145</td>
      <td>169116</td>
      <td>311280</td>
      <td>150131</td>
      <td>161149</td>
      <td>11981</td>
      <td>4014</td>
      <td>7967</td>
      <td>2.26</td>
      <td>49935</td>
    </tr>
    <tr>
      <th>14</th>
      <td>마포구</td>
      <td>385507</td>
      <td>182627</td>
      <td>202880</td>
      <td>374691</td>
      <td>178430</td>
      <td>196261</td>
      <td>10816</td>
      <td>4197</td>
      <td>6619</td>
      <td>2.19</td>
      <td>50350</td>
    </tr>
    <tr>
      <th>15</th>
      <td>양천구</td>
      <td>471026</td>
      <td>232087</td>
      <td>238939</td>
      <td>467151</td>
      <td>230322</td>
      <td>236829</td>
      <td>3875</td>
      <td>1765</td>
      <td>2110</td>
      <td>2.65</td>
      <td>56742</td>
    </tr>
    <tr>
      <th>16</th>
      <td>강서구</td>
      <td>606981</td>
      <td>295221</td>
      <td>311760</td>
      <td>600257</td>
      <td>291966</td>
      <td>308291</td>
      <td>6724</td>
      <td>3255</td>
      <td>3469</td>
      <td>2.34</td>
      <td>78042</td>
    </tr>
    <tr>
      <th>17</th>
      <td>구로구</td>
      <td>440305</td>
      <td>220880</td>
      <td>219425</td>
      <td>407235</td>
      <td>202016</td>
      <td>205219</td>
      <td>33070</td>
      <td>18864</td>
      <td>14206</td>
      <td>2.37</td>
      <td>60564</td>
    </tr>
    <tr>
      <th>18</th>
      <td>금천구</td>
      <td>252752</td>
      <td>129612</td>
      <td>123140</td>
      <td>233263</td>
      <td>118530</td>
      <td>114733</td>
      <td>19489</td>
      <td>11082</td>
      <td>8407</td>
      <td>2.19</td>
      <td>34945</td>
    </tr>
    <tr>
      <th>19</th>
      <td>영등포구</td>
      <td>404501</td>
      <td>203696</td>
      <td>200805</td>
      <td>369003</td>
      <td>183888</td>
      <td>185115</td>
      <td>35498</td>
      <td>19808</td>
      <td>15690</td>
      <td>2.18</td>
      <td>54994</td>
    </tr>
    <tr>
      <th>20</th>
      <td>동작구</td>
      <td>407275</td>
      <td>197984</td>
      <td>209291</td>
      <td>394788</td>
      <td>192296</td>
      <td>202492</td>
      <td>12487</td>
      <td>5688</td>
      <td>6799</td>
      <td>2.26</td>
      <td>58133</td>
    </tr>
    <tr>
      <th>21</th>
      <td>관악구</td>
      <td>521960</td>
      <td>262235</td>
      <td>259725</td>
      <td>504048</td>
      <td>253600</td>
      <td>250448</td>
      <td>17912</td>
      <td>8635</td>
      <td>9277</td>
      <td>1.94</td>
      <td>71317</td>
    </tr>
    <tr>
      <th>22</th>
      <td>서초구</td>
      <td>443989</td>
      <td>212679</td>
      <td>231310</td>
      <td>439844</td>
      <td>210596</td>
      <td>229248</td>
      <td>4145</td>
      <td>2083</td>
      <td>2062</td>
      <td>2.52</td>
      <td>54614</td>
    </tr>
    <tr>
      <th>23</th>
      <td>강남구</td>
      <td>551888</td>
      <td>264332</td>
      <td>287556</td>
      <td>546952</td>
      <td>261815</td>
      <td>285137</td>
      <td>4936</td>
      <td>2517</td>
      <td>2419</td>
      <td>2.39</td>
      <td>66011</td>
    </tr>
    <tr>
      <th>24</th>
      <td>송파구</td>
      <td>673161</td>
      <td>327051</td>
      <td>346110</td>
      <td>666439</td>
      <td>323741</td>
      <td>342698</td>
      <td>6722</td>
      <td>3310</td>
      <td>3412</td>
      <td>2.48</td>
      <td>79093</td>
    </tr>
    <tr>
      <th>25</th>
      <td>강동구</td>
      <td>437050</td>
      <td>216814</td>
      <td>220236</td>
      <td>432749</td>
      <td>214740</td>
      <td>218009</td>
      <td>4301</td>
      <td>2074</td>
      <td>2227</td>
      <td>2.44</td>
      <td>57680</td>
    </tr>
  </tbody>
</table>
</div>

In [19]:
raw_data = pd.read_excel("../data/01_Population_Seoul.xls", header=2, usecols="B,D:N", skipfooter=0, names=col_names)

In [25]:
raw_data["구"].unique()

array(['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'], dtype=object)

In [26]:
raw_data.drop(0, inplace=True)

KeyError: 'labels [0] not contained in axis'

In [27]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 1 to 25
Data columns (total 12 columns):
구        25 non-null object
인구수      25 non-null int64
남성       25 non-null int64
여성       25 non-null int64
내국인      25 non-null int64
남성내국인    25 non-null int64
여성내국인    25 non-null int64
외국인      25 non-null int64
남성외국인    25 non-null int64
여성외국인    25 non-null int64
세대당인구    25 non-null float64
고령자      25 non-null int64
dtypes: float64(1), int64(10), object(1)
memory usage: 3.2+ KB

In [28]:
raw_data.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>인구수</th>
      <th>남성</th>
      <th>여성</th>
      <th>내국인</th>
      <th>남성내국인</th>
      <th>여성내국인</th>
      <th>외국인</th>
      <th>남성외국인</th>
      <th>여성외국인</th>
      <th>세대당인구</th>
      <th>고령자</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>25.000000</td>
      <td>25.000000</td>
      <td>25.000000</td>
      <td>25.00000</td>
      <td>25.000000</td>
      <td>25.000000</td>
      <td>25.000000</td>
      <td>25.000000</td>
      <td>25.000000</td>
      <td>25.00000</td>
      <td>25.000000</td>
    </tr>
    <tr>
      <th>mean</th>
      <td>403580.680000</td>
      <td>197437.760000</td>
      <td>206142.920000</td>
      <td>392561.96000</td>
      <td>192110.760000</td>
      <td>200451.200000</td>
      <td>11018.720000</td>
      <td>5327.000000</td>
      <td>5691.720000</td>
      <td>2.29560</td>
      <td>55746.840000</td>
    </tr>
    <tr>
      <th>std</th>
      <td>128242.735262</td>
      <td>62224.992358</td>
      <td>66208.943345</td>
      <td>129886.16028</td>
      <td>62909.173289</td>
      <td>67115.539383</td>
      <td>8568.360226</td>
      <td>4926.891684</td>
      <td>3805.679588</td>
      <td>0.16671</td>
      <td>15197.029473</td>
    </tr>
    <tr>
      <th>min</th>
      <td>135427.000000</td>
      <td>66673.000000</td>
      <td>68754.000000</td>
      <td>126032.00000</td>
      <td>62260.000000</td>
      <td>63772.000000</td>
      <td>2168.000000</td>
      <td>817.000000</td>
      <td>1351.000000</td>
      <td>1.94000</td>
      <td>21798.000000</td>
    </tr>
    <tr>
      <th>25%</th>
      <td>326063.000000</td>
      <td>159219.000000</td>
      <td>169116.000000</td>
      <td>322385.00000</td>
      <td>157769.000000</td>
      <td>164616.000000</td>
      <td>4403.000000</td>
      <td>2074.000000</td>
      <td>2419.000000</td>
      <td>2.19000</td>
      <td>49935.000000</td>
    </tr>
    <tr>
      <th>50%</th>
      <td>407275.000000</td>
      <td>203696.000000</td>
      <td>206585.000000</td>
      <td>394788.00000</td>
      <td>192296.000000</td>
      <td>202492.000000</td>
      <td>9395.000000</td>
      <td>4014.000000</td>
      <td>4982.000000</td>
      <td>2.26000</td>
      <td>56742.000000</td>
    </tr>
    <tr>
      <th>75%</th>
      <td>471026.000000</td>
      <td>232087.000000</td>
      <td>238939.000000</td>
      <td>467151.00000</td>
      <td>230322.000000</td>
      <td>236829.000000</td>
      <td>14771.000000</td>
      <td>5998.000000</td>
      <td>7967.000000</td>
      <td>2.39000</td>
      <td>66011.000000</td>
    </tr>
    <tr>
      <th>max</th>
      <td>673161.000000</td>
      <td>327051.000000</td>
      <td>346110.000000</td>
      <td>666439.00000</td>
      <td>323741.000000</td>
      <td>342698.000000</td>
      <td>35498.000000</td>
      <td>19808.000000</td>
      <td>15690.000000</td>
      <td>2.65000</td>
      <td>79093.000000</td>
    </tr>
  </tbody>
</table>
</div>

In [29]:
import numpy as np

In [30]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [31]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [34]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=['A', 'B', 'C', 'D'])
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>A</th>
      <th>B</th>
      <th>C</th>
      <th>D</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2013-01-01</th>
      <td>0.100800</td>
      <td>1.479559</td>
      <td>0.594920</td>
      <td>-0.386255</td>
    </tr>
    <tr>
      <th>2013-01-02</th>
      <td>-0.121609</td>
      <td>0.314872</td>
      <td>-0.726305</td>
      <td>0.455966</td>
    </tr>
    <tr>
      <th>2013-01-03</th>
      <td>-0.015332</td>
      <td>-1.186633</td>
      <td>0.928298</td>
      <td>0.042061</td>
    </tr>
    <tr>
      <th>2013-01-04</th>
      <td>-1.290939</td>
      <td>2.043907</td>
      <td>-0.140116</td>
      <td>-1.063759</td>
    </tr>
    <tr>
      <th>2013-01-05</th>
      <td>-1.230661</td>
      <td>0.887132</td>
      <td>-0.456847</td>
      <td>0.298981</td>
    </tr>
    <tr>
      <th>2013-01-06</th>
      <td>0.030380</td>
      <td>-1.173572</td>
      <td>0.079256</td>
      <td>0.356315</td>
    </tr>
  </tbody>
</table>
</div>